*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
  font-weight: 1000;
  font-style: normal;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    
}
.navbar-links{
    display: flex;
    column-gap: 20px;
}
.navbar-links a{
   text-decoration: none;
   color: #1d232f;
}
.navbar-links a:hover{
    text-decoration: underline;
}
.navbar-toggle{
    display: none;
}
.side-navbar{
    padding: 20px;
    background-color: #1d232f;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}
.side-navbar-link{
    margin-top: 20px;
}
.side-navbar-link a{
    color: #f2f4f7;
    text-decoration: none;
}
.side-navbar-link a:hover{
    text-decoration: underline;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.head button{
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1d232f;
    color: #f2f4f7;
}
.head img{
    border-radius: 50%;
    box-shadow: inset -5px -5px 12px #ffffff,
    5px 5px 12px rgba(0, 0, 0, 16);
   
}
.script{
    padding: 20px;
}
.script-con-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.script-con2{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    
}
.script-con2 div{
    background-color: #f2f4f7;
    border-radius: 10px;
    padding: 20px;
}
.new-arrival{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.newarrival-con{
    position: relative;
    flex-basis: 20%;
}
.newarrival-con button{
    position: absolute;
    top: 50%;
    left: 18%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.news input{
    width: 80vw;
    padding: 10px;
    border: solid black 3px;
}
.news button{
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: green;
    color: #f2f4f7;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
img{
    box-shadow: inset -5px -5px 12px #ffffff,
    5px 5px 12px rgba(0, 0, 0, 16);
   
}
.footer{
    border-radius:10px;
    margin-top: 20px;
    background-color: #1d232f;
    color: #f2f4f7;
    padding: 40px;
    gap:40px
}
.product{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.product-box{
    flex-basis: 20%;
    text-align: center;
}

@media screen  and (max-width:700px){
    .navbar-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }
    .head img{
       width: 100px;
       height: 100px;
    }
    .script-con-1{
        display: none;
    }
    .script-con2{
        flex-direction: column;
    }
}